<footer class="pt-5 border-top bg-dark">
  <div class="row">
    <div class="offset-sm-2 col-sm offset-md-2 col-md col-lg-3">
      <h5>Nuestros horarios</h5>
      <p class="text-muted text-small py-0 my-0">
        Lunes a viernes: 09:00-23:00
      </p>
      <p class="text-muted text-small py-0 my-0">
        Sábados: 09:00-22:00
      </p>
      <p class="text-muted text-small py-0 my-0">
        Domingos: 10:00-22:00
      </p>
    </div>
    <div class="offset-sm-2 col-sm offset-md-2 col-md col-lg-3 py-4">
      <h5>Más información</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Aviso legal</a></li>
        <li><a class="text-muted" href="#">Política de privacidad</a></li>
      </ul>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-12 col-md text-center">
      <small class="d-inline text-muted">© 2019</small>
    </div>
  </div>
</footer>
