<section id="start" class="container-fluid">
  <div class="py-5 row">
    <div class="offset-sm-4 col-sm-6 offset-lg-6 col-lg-5 text-right">
      <div id="start_info">
        <h1>BIENVENIDO AL CLUB DE PÁDEL CUACHIFÚ</h1>
      </div>
      <p class="pt-3 pb-0 mb-0">
        Desde esta web podrás obtener información acerca de las instalaciones y servicios que ofrecemos.
      </p>
      <p class="pb-3 pt-0 mt-0">
        ¡También podrás registrarte en nuestro portal y reservar pistas de pádel!
      </p>
    </div>
  </div>
</section>
