<section id="cookie">
  <div class="alert alert-secondary text-center fixed-bottom bg-secondary" role="alert">
    <div>
      <p class="pb-0 mb-0">Utilizamos cookies propias para mejorar la experiencia del usuario y nuestros
        servicios, analizando la navegación en nuestro Sitio Web.</p>
      <p class="pt-0 mt-0">Si continúas navegando, estás aceptando su uso.</p>
    </div>
    <button type="button" class="btn btn-light btn-sm" aria-label="Close" onclick="eliminar()">
      Acepto
    </button>
  </div>
</section>
