<section id="login">
  <div id="login_box" class="row justify-content-center p-5">
    <form class="rounded-lg m-sm-4 p-sm-4 ml-sm-5 bg-dark col-xs-6 col-sm-6 col-md-6 col-lg-3" name="login">
      <div class="container px-3 mx-3">
        <div class="form-group row">
          <label class="text-light" id="auth">INICIAR SESIÓN</label>
        </div>
        <div class="form-group row">
          <label class="text-light col-10 pl-0" for="user_id">Nombre de usuario:</label>
          <input class="form-control col-10" id="user_id" required placeholder="Usuario" type="text">
        </div>
        <div class="form-group row">
          <label class="text-light col-10 pl-0" for="password_id">Contraseña:</label>
          <input class="form-control col-10" id="password_id" required placeholder="Contraseña" type="password">
        </div>
        <div class="form-group row form-check">
          <input type="checkbox" class="form-check-input" id="recordar">
          <label class="form-check-label text-light" for="recordar">Recordarme</label>
        </div>
        <div class="form-group row pl-0">
          <button type="button" onclick="Comprueba()" class="btn btn-primary">Acceder</button>
        </div>
      </div>
    </form>
  </div>
</section>
