<section id="login">
  <div id="login_box" class="justify-content-center p-5">
    <form class="rounded-lg bg-dark offset-sm-2 col-sm-8 offset-lg-4 col-lg-4 p-4" name="login" #login_form='ngForm'>
        <div class="form-group">
          <label class="text-light" id="auth">INICIAR SESIÓN</label>
        </div>
        <div class="form-group">
          <label class="text-light" for="user_id">Nombre de usuario:</label>
          <input class="form-control" id="user_id" placeholder="Usuario" type="text"
                 required minlength="4" ngModel name="user_id" #user_id='ngModel'>
          <div class="my-1 py-1 alert alert-danger" *ngIf="user_id.touched && !user_id.valid">
            <div *ngIf="user_id.errors.required">Nombre de usuario requerido</div>
            <div *ngIf="user_id.errors.minlength">La longitud debe ser mayor a {{ user_id.errors.minlength.requiredLength }} caracteres</div>
          </div>
        </div>
        <div class="form-group">
          <label class="text-light" for="password_id">Contraseña:</label>
          <input class="form-control" id="password_id" placeholder="Contraseña"
                 type="password" required minlength="4" ngModel name="password_id" #password_id='ngModel'>
          <div class="my-1 py-1 alert alert-danger" *ngIf="password_id.touched && !password_id.valid">
            <div *ngIf="password_id.errors.required">Contraseña requerida</div>
            <div *ngIf="password_id.errors.minlength">La longitud debe ser mayor a {{ password_id.errors.minlength.requiredLength }} caracteres</div>
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="recordar">
          <label class="form-check-label text-light" for="recordar">Recordarme</label>
        </div>
        <div class="form-group pl-0">
          <button type="submit" [disabled]="!login_form.valid" (click)="Login(user_id.value, password_id.value)" class="btn btn-primary">Acceder</button>
        </div>
    </form>
  </div>
</section>
