<section id="book">
  <div class="row justify-content-center p-5">
  <div class="container bg-dark rounded-lg">
    <div class="m-5 p-5">
      <h2 class="text-light d-block">MIS RESERVAS</h2>
      <button class="btn btn-success nav-link m-3 d-sm-block d-lg-inline float-left" routerLink="../booking">Reservar</button>
      <table class="table table-secondary table-responsive-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id de la reserva</th>
                <th scope="col">Pista reservada</th>
                <th scope="col">Día de la reserva:</th>
                <th scope="col">Hora de la reserva:</th>
                <th scope="col">Fecha de la reserva:</th>
              </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
              <tr *ngFor="let reservation of reservations; index as i" cdkDrag>
                <td>{{ i + 1 }}</td>
                <td>{{reservation?.rsvId}}</td>
                <td>{{reservation?.courtId}}</td>
                <td>{{reservation?.rsvday}}</td>
                <td>{{reservation?.rsvtime}}</td>
                <td>{{reservation?.rsvdateTime | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                <td><button (click)="openDialog(reservation?.rsvId)" class="btn btn-warning">Cancelar</button></td>
              </tr>
            </tbody>
          </table>
      <button class="btn btn-danger nav-link m-3 d-sm-block d-lg-inline float-lg-right" [disabled]="reservations.length === 0" (click)="openDeleteAllDialog()">Cancelar todas mis reservas</button>
    </div>
  </div>
  </div>
</section>
