html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('../../assets/images/grasscourt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
}

.p1 {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}
