#courts{
  background-image: url('../../assets/images/sand.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
}

.active {
  color: white !important;
}

.carousel-item > img {
  width: 100%;
}
