<section id="location" class="container-fluid">
  <div class="py-5 row">
    <div class="col-sm-12 offset-lg-1 col-lg-3 px-lg-0">
      <h2>Ubicación</h2>
      <p>Nuestras instalaciones están en la periferia de Madrid, accesible en Metro línea 7 o por
        tren de Cercanías.</p>
    </div>
    <div class="col-sm-12 col-lg-6 px-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.3624613201005!2d-3.5565551450080655!3d40.42297222642959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4231a7e7e959bd%3A0x78835f21a46ed350!2sParque%20De%20Las%20Conejeras!5e0!3m2!1ses!2ses!4v1574880779102!5m2!1ses!2ses"
          frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</section>
