<section id="services" class="container-fluid bg-dark py-5">
  <h2 class="offset-sm-1">SERVICIOS</h2>

  <div class="row justify-content-center py-5">
    <div class="col-sm col-lg-4 py-5">
      <div class="card bg-success">
        <img src="../../assets/images/services.jpg" class="card-img-top" alt="servicio">
        <div class="card-body">
          <h5 class="card-title">Alquileres de pista</h5>
          <p class="card-text">Servicio disponible cualquier día de la semana.
            Regístrate en nuestra plataforma para reservar</p>
        </div>
      </div>
    </div>
    <div class="col-sm col-lg-4 py-5">
      <div class="card bg-success">
        <img src="../../assets/images/green.jpg" class="card-img-top" alt="servicio">
        <div class="card-body">
          <h5 class="card-title">Clases para Jóvenes y Adultos</h5>
          <p class="card-text">Desde los jóvenes hasta los mayores, el club se clasifica en distintos
            niveles de
            acuerdo a tu experiencia. Entrena con nuestros expertos.</p>
        </div>
      </div>
    </div>
    <div class="col-sm col-lg-4 py-5">
      <div class="card bg-success">
        <img src="../../assets/images/balls.jpg" class="card-img-top" alt="servicio">
        <div class="card-body">
          <h5 class="card-title">Clases para Niños</h5>
          <p class="card-text">Dirigidas a los más pequeños de forma divertida para iniciarlos en
            el deporte.</p>
        </div>
      </div>
    </div>
  </div>
</section>
