<section id="booking">
  <div class="row justify-content-center p-5">
    <div class="container bg-dark rounded-lg">
      <div class="m-5 p-5">
        <h2 class="text-light">NUEVA RESERVA</h2>
          <div class="d-inline float-left">
            <label class="text-light d-block" for="date">Selecciona el día de la reserva</label>
            <input class="form-control d-block my-3 col-md-6" id="date" name="date" min="{{min | date: 'yyyy-MM-dd'}}"
                   max="{{max | date: 'yyyy-MM-dd'}}" type="date" [(ngModel)]="date" (change)="getAvailableByDay()" ngModel>
          </div>
          <button class="nav-link btn btn-secondary float-right" routerLink="book">MIS RESERVAS</button>
        <table *ngIf="date !== undefined && date !== null && date !== ''" class="table table-secondary table-responsive-sm">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Pista disponible</th>
            <th scope="col">Hora de la reserva:</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let available of availables; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{available?.courtId}}</td>
            <td>{{available?.rsvtime}}</td>
            <td><button (click)="book(available?.rsvtime, available?.courtId.toString())" class="btn btn-info">Reservar</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
