<section id="register">
  <div class="container p-5">
    <form class="rounded-lg p-5 bg-dark" name="register" #register_form='ngForm'>
      <div class="form-group">
        <label class="text-light ">REGISTRO</label>
      </div>
      <div class="row m-auto">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="text-light col-10 pl-0" for="nombre">Usuario:</label>
            <input class="form-control col-10" id="nombre" name="nombre" placeholder="Nombre de usuario" type="text"
                   required (input)='nombre = nombreval.value' (keyup)="CheckIfExists()" ngModel #nombreval='ngModel' minlength='3' >
            <div class="my-1 py-1 alert-danger col-10" *ngIf="nombreval.touched && !nombreval.valid">
              <div *ngIf="nombreval.errors.required">Nombre requerido</div>
              <div *ngIf="nombreval.errors.minlength">Longitud debe ser mayor o igual a {{ nombreval.errors.minlength.requiredLength }} caracteres</div>
            </div>
            <div class="my-1 py-1 alert-danger col-10" *ngIf="nombreval.touched && alreadyExists === true && nombreval.valid">Usuario no válido</div>
            <div class="my-1 py-1 alert-success col-10" *ngIf="nombreval.touched && alreadyExists === false && nombreval.valid">¡Usuario disponible!</div>
          </div>
          <div class="form-group">
            <label class="text-light col-10 pl-0" for="email1">Correo electrónico:</label>
            <input class="form-control col-10" id="email1" name="email1" placeholder="Correo electrónico" type="email"
                   (input)='email1 = email1val.value' ngModel #email1val='ngModel' required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div class="my-1 py-1 alert-danger col-10" *ngIf="email1val.touched && !email1val.valid">
              <div *ngIf="email1val.errors.required">Email requerido</div>
              <div *ngIf="email1val.errors.pattern">Se requiere de un formato de email válido</div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-light col-10 pl-0" for="clave1">Contraseña:</label>
            <input class="form-control col-10" id="clave1" name="clave1" placeholder="Contraseña" type="password"
                   (input)='clave1 = clave1val.value' ngModel #clave1val='ngModel' required minlength='4'>
            <div class="my-1 py-1 alert-danger col-10" *ngIf='clave1val.touched && !clave1val.valid'>
              <div *ngIf="clave1val.errors.required">Contraseña requerida</div>
              <div *ngIf="clave1val.errors.minlength">La longitud debe ser mayor a {{ clave1val.errors.minlength.requiredLength }} caracteres</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="text-light col-10 pl-0" for="phone">Teléfono:</label>
            <input class="form-control col-10" id="phone" name="phone" placeholder="Teléfono móvil (opcional)" type="tel"
                   (input)="phone = phoneval.value" ngModel #phoneval='ngModel' pattern="\d{9}">
            <div class="my-1 py-1 alert-danger col-10" *ngIf='phoneval.touched && !phoneval.valid'>
              <div *ngIf="phoneval.errors.pattern">El número de teléfono debe contener 9 dígitos</div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-light col-10 pl-0" for="fecha">Fecha de nacimiento:</label>
            <input class="form-control col-10" id="fecha" type="date" name="fecha" #fecha1='ngModel'
            ngModel (input)="fecha = fecha1?.value">
          </div>
          <div class="form-group">
            <label class="text-light col-10 pl-0" for="clave2">Repetir contraseña:</label>
            <input class="form-control col-10" id="clave2" name="clave2"  placeholder="Repetir contraseña" type="password"
                   ngModel #clave2='ngModel' required pattern="{{ clave1val?.value }}">
            <div class="my-1 py-1 alert-danger col-10" *ngIf='clave2.touched && !clave2.valid'>
              <div *ngIf="clave2.errors.required">Este campo es requerido</div>
              <div *ngIf="clave2.errors.pattern">Las contraseñas deben coincidir</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="form-group form-check">
            <input class="form-check-input" name="recordar" id="recordar" type="checkbox"
                   ngModel #recordar='ngModel' required>
            <label class="form-check-label text-light" for="recordar">He leído y acepto los términos y
              condiciones</label>
            <div class="my-1 py-1 alert-danger" *ngIf='recordar.touched && recordar.invalid'>
              Debes aceptar los términos y condiciones
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="Register()" [disabled]="!register_form.valid || alreadyExists === true">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</section>
